.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pages {
    margin: 0 15px;
}